<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ABOUT ME:

    <p>¡Hola! Me llamo Estefania, vivo en Ciudad de México, México.<p>
        <p>Estudié Ingeniería en Negocios y Gestión Empresarial, me he enfocado y desarrollado en el Análisis de Datos,
        me gustaría entrar hacia el área de Business Intelligence.<p>
    <p>
        
        
    <p>Cosas que me gustan:<p>
        <p>Ir a la playa<p>
        <p>Tomar té<p>
        <p>Patinar en patines<p>
        <p>Viajar<p>
    <p>
    <p>Por ahora me enfoco en estudiar Inglés, python y una certificación de Analista de Datos.<p>


</body>
</html>