{% extends "base.html" %}

{% block title_head %}
Buscar Patines
{% endblock title_head %}

<!-- Vacía el contenido del masthead -->
{% block header %}{% endblock header %}
{% block main_uptext %}{% endblock main_uptext %}
{% block main_text %}{% endblock main_text %}
{% block categorias %}{% endblock categorias %}
{% block vista_about %}{% endblock vista_about %}
{% block contact %}{% endblock contact %}

{% block main %}
<div class="mt-5">
    <h2 class="text-center">Buscar Patines</h2>
    <form action="{% url 'buscar_patines' %}" method="GET" class="mt-4">
        {{ form.as_p }}
        <div class="mb-3">
            <label for="Deporte">Deporte:</label>
            <input type="text" name="Deporte" id="Deporte" class="form-control" placeholder="Ej: Derby">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    {% if patiness %}
    <h3 class="mt-5">Resultados:</h3>
    <ul class="list-group">
        {% for patines in patiness %}
        <li class="list-group-item">
            {{ patines }}
            | <a href="{% url 'ver_patines' patines.id %}">Ver más</a>
            | <a href="{% url 'editar_patines' patines.id %}">Editar</a>
            | <a href="{% url 'eliminar_patines' patines.id %}">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="mt-3 text-muted">No hay patines registrados.</p>
    {% endif %}
</div>
{% endblock main %}
