<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> BUSCAR: </h1>

<form action ={% url 'buscar_patines' %}>
    {{form}}

<p>
    Deporte:
    <input type='text' name='Deporte'>
    <input type='submit' value='Buscar'>
</p>

</form>

{% if patiness %}
<ul>
    {% for patines in patiness %}
    <li>{{patines}} | <a href= {% url 'ver_patines' patines.id %}>Ver mas</a> | </li>
    {% endfor %}
</ul>
{% else %}
<p>Sin Inventario.</p>
{% endif %}

</body>
</html>