<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> EDITAR:  </h1>
    <h2> Modelo {{patines}}: </h2>

    <form action ={% url 'editar_patines' patines.id %} method='POST'>
        {% csrf_token %}


{{form}}
        <input type='submit' value='Actualizar'>
        
    
    </form>

    <ul>
        <h4>| <a href= {% url 'buscar_patines' %}>Volver al Inventario</a> | </h4>
        </ul>    
</body>
</html>