{% extends "base.html" %}

{% block title_head %}
Editar Patines
{% endblock title_head %}
<h2> Modelo {{patines}}: </h2>

<!-- Vacía el contenido del masthead -->
{% block header %}{% endblock header %}
{% block main_uptext %}{% endblock main_uptext %}
{% block main_text %}{% endblock main_text %}
{% block categorias %}{% endblock categorias %}
{% block vista_about %}{% endblock vista_about %}
{% block contact %}{% endblock contact %}

{% block main %}
<div class="mt-5">
    <li>
        <p>
        <h2 class="text-center">Editar Patines {{patines.Marca}} para {{patines.Deporte}} </h2>
        </p>
    </li>
    <form action="{% url 'editar_patines' patines.id %}" method="POST" class="mt-4">
        {% csrf_token %}

{{form}}
        <input type='submit' value='Actualizar'>
    </form>    


    <ul class='rigth'>
        <h4>
            <a href= {% url 'buscar_patines' %}>Volver a Búsqueda</a>
        </h4>
    </ul>
{% endblock main %}
