{% comment %} {% extends "base.html" %}{% endcomment %}
{% block title_head %}
Listado Ruedas
{% endblock title_head %}
{% block h1_header %}Listado Ruedas{% endblock h1_header %}
{% block main %}


<a class="navbar-brand" href={% url 'ACCESORIOS:crear_ruedas' %}>Agregar modelo de Ruedas</a>


{% if ruedas %}
<ul>
    {% for rueda in ruedas %}
    <li>{{ rueda }}
        | <a href="{% url 'ACCESORIOS:ver_ruedas' rueda.id %}">Ver más</a>
        | <a href="{% url 'ACCESORIOS:editar_ruedas' rueda.id %}">Editar</a>
        | <a href="{% url 'ACCESORIOS:eliminar_ruedas' rueda.id %}">Eliminar</a>
    </li>
{% endfor %}
</ul>
{% else %}
<p>No hay ruedas registradas.</p>
{% endif %}

{% endblock main %}