<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Ruedas</title>
</head>
<body>
    <ul>
        <h4>| <a href= {% url 'inicio' %}>Volver</a> | </h4>
        </ul>

<a class="nav-link" href={% url 'ACCESORIOS:crear_ruedas' %}> <h2>Agregar modelo de Ruedas</h2></a>

<h3> Listado ruedas: </h3>
<table>
    <thead>
        <tr>
            <th>Dureza</th>
            <th>Perfil</th>
            <th>Compuesto</th>
            <th>Talla</th>
        </tr>
    </thead>
    <tbody>
        {% for rueda in ruedas %}
        <tr>
            <td>{{ rueda.Dureza }}</td>
            <td>{{ rueda.Perfil }}</td>
            <td>{{ rueda.Compuesto }}</td>
            <td>{{ rueda.Talla }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay ruedas registradas.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>