{% extends 'base.html' %}

{% block title_head %}
Cambiar password
{% endblock title_head %}

{% block h1_header %}
Cambiar password de {{request.user.username}}
{% endblock h1_header %}

<!-- Vacía el contenido del masthead -->
{% block header %}{% endblock header %}
{% block main_uptext %}{% endblock main_uptext %}
{% block main_text %}{% endblock main_text %}
{% block categorias %}{% endblock categorias %}
{% block vista_about %}{% endblock vista_about %}
{% block contact %}{% endblock contact %}

{% block main %}
<div class="mt-5">
    <li><h2 class="text-center">Cambiarás de Contraseña {{request.user.username}} </h2>
    </li>
    <form action={% url 'usuarios:cambiar_password' %} method='post'>
        {% csrf_token %}

{{form}}
        <input type='submit' value='Guardar cambios'>

</form>

{% endblock main %}