{% extends 'base.html' %}

<!-- Vacía el contenido innecesario -->
{% block header %}{% endblock %}
{% block main_uptext %}{% endblock %}
{% block main_text %}{% endblock %}
{% block categorias %}{% endblock %}
{% block vista_about %}{% endblock %}
{% block contact %}{% endblock %}

{% block main %}
<div class="mt-5">
    <h2 class="text-center">Perfil de {{ user.username }}</h2>

    <h3 class="mt-5">Información del perfil:</h3>
    <p><strong>Nombre:</strong> {{ user.first_name }}</p>
    <p><strong>Apellido:</strong> {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>

    <p><strong>Biografía:</strong> {{ user.profile.bio }}</p>
    <p><strong>Foto:</strong></p>
    {% if user.profile.photo %}
        <img src="{{ user.profile.photo.url }}" alt="Foto de {{ user.username }}" style="max-width: 200px;">
    {% else %}
        <p>No se ha subido una foto de perfil.</p>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="border p-3">
            <legend>Editar información personal</legend>
            {{ user_form.as_p }}
        </fieldset>

        <fieldset class="border p-3 mt-4">
            <legend>Subir foto de perfil</legend>
            {{ profile_form.as_p }}
        </fieldset>

        <fieldset class="border p-3 mt-4">
            <legend>Cambiar contraseña</legend>
            {{ password_form.as_p }}
        </fieldset>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
    </form>




</div>
{% endblock %}
