{% extends "base.html" %}

{% block title_head %}
Registro
{% endblock title_head %}

<!-- Vacía el contenido del masthead -->
{% block main_uptext %}{% endblock main_uptext %}
{% block categorias %}{% endblock categorias %}
{% block vista_about %}{% endblock vista_about %}

{% block main %}
<p>
</p> 
<div class="mt-5">
    <h2 class="text-center">Registro</h2>
    <form action={% url 'usuarios:register' %} method='post' class="mt-5">
    {% csrf_token %}

    {{form}}
    <input type='submit' value='Registrarse'>

</form>
</div>
{% endblock main %}